header.navbar-default.navbar-static-top {

  // background-color: $header-background;
  // color: $header-text;
  // border-width: 0;

  // .nav.navbar-nav > li > a:hover, 
  // .navbar-header > a:hover, 
  // .nav.navbar-nav > li.dropdown.open > a,
  // .nav.navbar-nav > li.dropdown.open > a:hover,
  // .nav.navbar-nav .dropdown-menu {
  //   color: $placeholder-text;
  //   background-color: $header-background;
  // }

  .user-nav {
    width: 35%;
    max-width: 450px;
    min-width: 325px;
    float: right;
    margin-top: 10px;

    .input-sm, {
      float: left;
      width: 39%;
      margin-right: 1%;
      padding: 5px;
    }

    .btn-sm {
      float: left;
      width: 20%
    }

    .info {
      float: right;
    }

  }
  

  .banner {
    position: fixed;
    margin-left: -10%;
    width: 20%;
    left: 50%;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 40px;
    padding: 8px;
  }

}