.tournament.details {

  max-width: 45em;
  margin: 0 auto;

  .name {
    font-size: 2.5em;
  }

  .name, .location, .date {
    text-align: center;
  }

  .teams, .games {

    h3 {
      font-size: 2em;
      text-align: center;
    }

  }

}

.ng-invalid {
  border-color: red;
}

.games {

  .modal-background {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
  }

  .new-form {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
  }

}