.tournament {

  .name {
    font-size: 1.2em;
    display: inline-block;
  }

  .location {

    &::before {
      content: ' - ';
      display: inline-block;
    }

    display: inline-block;
  }

}

.ng-invalid {
  border-color: red;
}