$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// Link to color scheme - http://dribbble.com/shots/1382086-Search-type-switch?list=popular&offset=8
@import 'variables';

@import 'sass-bootstrap/lib/bootstrap';

@import 'tournament';
@import 'header';
@import 'modals';
@import 'forms';

body, .body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%
}

input[type="text"], input[type="password"], input[type="submit"] {
  border-width: 0;
}

// button.btn-default {
//   padding-top: 6px;
//   padding-bottom: 6px;
//   background-color: $button-background;
//   color: $button-text;
//   border-width: 0;
//   border-radius: 0;

//   &:hover {
//     background-color: $dark-button-background;
//     color: $button-text;
//   }

// }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
