
<header class="navbar navbar-default navbar-static-top">
  <div iqat-banner></div>

  <div class="container-fluid">
    
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">Home</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript://" class="dropdown-toggle">Tournaments</a>
          <ul class="dropdown-menu">
            <li><a ui-sref="tournaments.new">Plan a Tournament</a></li>
            <li><a ui-sref="tournaments">Find a Tournament</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript://" class="dropdown-toggle">Teams</a>
          <ul class="dropdown-menu">
            <li><a ui-sref="teams.new">Create a Team</a></li>
            <li><a ui-sref="teams">Find a Team</a></li>
          </ul>
        </li>
      </ul>

      <iqat-user-nav></iqat-user-nav>

  </div>
</header>

<div class="container-fluid" ui-view=""></div>
